@import "progressbar.css";

:root {
    /*groenn*/
    --green_active: #05502A;
    --green_dark: #156630;
    --green: #1A833B;
    --green_light: #D0ECD6;

    /*Blaa*/
    --blue_dark: #175092;
    --blue: #1A589F;
    --blue_light: #E4F1F8;
    --blue_hover: #439CCD;
    --dark_blue_button: #213060;

    /*roed og rosa*/
    --red_error_message: #A32F00;
    --red_dark: #D04a14;
    --pink: #F7E6EB;

    /*oransje og gul*/
    --orange: #FCF1E8;
    --yellow: #FFDD9D;
    --yellow_light: #FCEBCD;

    /*svart og hvit*/
    --black: #222222;
    --white: #FFFFFF;

    /*graa*/
    --gray_dark: #505050;
    --gray: #707070;
    --gray_light: #F5F2F2;
}

/*body {*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    transform: translate(-50%, -50%);*/
/*}*/

.collapsible_container {
    width: 400px;
}

.collapsible_block {
    margin-bottom: 36px;
}

.collapsible_heading {
    font-size: 1.375rem;
    color: #222;
    font-weight: 800;
    margin: 0;
    width: 100%;
    padding: 9px 0 18px;
}

.collapsible_list {
    border-top: 1px solid #c1c1c1;
}

.collapsible_listitem {
    border-bottom: 1px solid #c1c1c1;
}

.collapsible_listitem_question {
    display: block;
    width: 100%;
    padding: 18px 54px 18px 9px;
    margin: 0;
    font-weight: 700;
    position: relative;
    background: rgba(245,242,242,0);
    transition: background .15s ease;
}

.collapsible_listitem_question::after,
.collapsible_listitem_question::before {
    display: block;
    content: "";
    background: #222;
    width: 12px;
    height: 2px;
    position: absolute;
    top: calc(50% - 1px);
    right: 10px;
    transition: -webkit-transform .15s ease;
    transition: transform .15s ease;
    transition: transform .15s ease,-webkit-transform .15s ease;
}

.collapsible {
    font-family: 'Mulish', sans-serif;
    font-weight: bold;
    background-color: var(--white);
    color: var(--black);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-bottom: var(--black) 1px solid;
}

.active {
    background-color: var(--white);
}

.collapsible:hover {
    background-color: var(--gray_light);
}

.collapsible:after {
    content: '\002B';
    color: var(--black);
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: var(--white);
}